body{
    font-family: 'Poppins', sans-serif;
    background: rgb(23,77,150);
    background: linear-gradient(-45deg, rgba(23,77,150,1) 0%, rgba(0,44,104,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%; 
}
header .cont-redes{
    background-color: rgb(46,186,183);
    padding-right: 30px;
}
    header .cont-redes .nav-item{
        margin: auto -10px;
    }
        header .cont-redes .nav-item i{
            color: #fff;
        }

header .cont-menu{
    background-color: rgb(0,49,94);
}
    header .cont-menu .container-fluid{
        margin-left: 50px;
    }
        header .cont-menu .container-fluid .navbar-nav{
            margin-left: 20px;
        }
            header .cont-menu .container-fluid .navbar-nav .nav-item a{
                font-family: 'Poppins', sans-serif;
                color: #fff;
                background-color: rgb(0,49,94);
                margin-right: 20px;
                font-weight: 700;
                font-size: 16px;  
            }
                header .cont-menu .container-fluid .navbar-nav .nav-item a:hover{
                    color: rgb(46,186,183);
                    transition: 0.5s;
                }
            header .cont-menu .container-fluid .cont-logo img{
                height: 100px;
                vertical-align: center;
                padding-top: 5px;
            }


/*-------------------- */

main{
    font-family: 'Poppins', sans-serif;
    max-height: 700px;
    overflow: hidden;
}

main img{
    opacity: 20%;
}

.carousel{
    max-height: 700px;
    overflow: hidden;
}
.carousel-item img{
    max-height: 700px;
    object-fit: cover;
}
.carousel-caption h5{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 200px;
    font-size: 40px;
    text-transform: uppercase;
    margin-right: 700px;
    text-align: left;
    font-weight: 400;
    border-left: 3px solid rgb(46,186,183);
    padding-left: 15px;
}
    .carousel-caption h5 span{
        display: block;
        font-size: 50px;
        font-weight: 700;
    }

/*-------------------- */

.noticias-index{
    padding: 50px;
    margin-left: 50px;
}
    .noticias-index .titulo{
        color: #fff;
        font-size: 40px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
        .noticias-index .titulo span{
            display: block;
            font-size: 45px;
            font-weight: 700;
        }
.cont-noticias-index{
    display: flex;
}
.card-body{
    font-family: 'Poppins', sans-serif;
}
.card-body h5{
    font-family: 'Poppins', sans-serif;
    max-width: 50%;
    font-size: 30px;
    font-weight: 600;
}
.card-body .btn{
    float: right;
    background-color: rgb(46,186,183);
}
.cont-noticias-horizontal{
    padding-left: 50px;
    margin-left: 40px;
}

    .cont-noticias-horizontal .noticia-horizontal img{
        height: 100%;
        object-fit: cover;
    }
    .cont-noticias-horizontal .noticia-horizontal h5{
        max-width: 70%;
        font-size: 20px;
    }
    .cont-noticias-horizontal .noticia-horizontal .btn{
        margin-bottom: 10px;
    }

    .cont-noticias-horizontal .noticia-horizontal .btn:hover, .card-body .btn:hover{
        background: rgb(0,49,94);
        color: #fff;
        transition: 0.5s;
        
    }


    /*-------------------- */



.cont-ligas{
    font-family: 'Poppins', sans-serif;
    display: block;
    max-width: 100%;
    overflow: hidden;
    padding: 50px;
    padding-bottom: 70px;
    background-color: rgb(46,186,183);
}
    .cont-ligas .titulo{
        margin-left: 50px;
        color: rgb(0,49,94);
        font-size: 40px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
        .cont-ligas .titulo span{
            display: block;
            font-size: 45px;
            font-weight: 700;
        }

    .cont-cajas{
        display: flex;
        justify-content: center;
    }

        .caja-liga figure{
            position:relative;
            height: 250px;
            margin-left: 50px;
            cursor: pointer;
            width: 300px;
            overflow: hidden;
        }
        .caja-liga figure img{
            height: 100%;
            transition: all 400ms ease-out;
            will-change: transform;
        }
        .caja-liga figure .capa{
            font-family: 'Poppins', sans-serif;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,49,94,0.7);
            transition: all 400ms ease-out;
            opacity: 0;
            visibility: hidden;
            border-bottom: 30px solid rgb(23,77,150);
            text-align: center;
        }
        .caja-liga figure:hover > .capa {
            opacity: 1;
            visibility: visible;
        }
        .caja-liga figure:hover > .capa h2{
            margin-top: 70px;
            margin-bottom: 15px;
        }
        .caja-liga figure:hover > img{
            transform: scale(1.3);
        }
        .caja-liga figure .capa h2{
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 120px;
            transition: all 400ms ease-out;
            margin-top: 30px;
        }
        .caja-liga figure .capa p{
            color: #fff;
            font-size: 15px;
            line-height: 1.5;
            width: 100%;
            max-width: 220px;
            margin: auto;
        }

/*-------------------- */


footer{
    font-family: 'Poppins', sans-serif;
    background: rgb(23,77,150);
    background: linear-gradient(-45deg, rgba(23,77,150,1) 0%, rgba(0,44,104,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;}


/* Boton para ver DESARROLLADORES */
footer .btn-developers{
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: auto;
    justify-content: center;
}
footer .btn-developers .content .btn img{
    display: flex;
    height: 15px;
    margin-right: 10px;
    margin-top: 5px;
}
footer .btn-developers .modal-window{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.614);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
footer .btn-developers .modal-window:target{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
footer .btn-developers .modal-window > div{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: rgb(0,49,94);
    color: white;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
}
footer .btn-developers .modal-window div .desarrolladores{
    text-align: center;
}
    footer .btn-developers .modal-window div .desarrolladores p{
        margin: 0px;
        margin-bottom: 5px;
    }
    footer .btn-developers .modal-window div .desarrolladores a{
        text-decoration: none;
    }
    footer .btn-developers .modal-window div .desarrolladores p img{
        height: 20px;
        vertical-align: middle;
        margin: 0px;
        margin-left: 10px;
    }

footer .btn-developers .modal-close{
    color: #fff;
    line-height: 50px;
    font-size: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}
footer .btn-developers .modal-window div:not(:last-of-type){
    margin-bottom: 15px;
}


@media (max-width: 600px) {
    .cont-cajas, .caja-liga{
        display: block;
    }
}


/*-------------------- */



.banner-presentacion{
    padding: 50px;
}
.banner-presentacion h2{
    margin-left: 45px;
    line-height: 1;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
    .banner-presentacion h2 span{
        display: block;
        font-size: 55px;
        font-weight: 800;
    }

.cont-equipos{
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(23,77,150,1);
}
    .cont-equipos .titulo{
        text-transform: uppercase;
        font-size: 30px;
        line-height: 1;
        color: #fff;
        margin-left: 50px;
        font-weight: 500;
        margin-bottom: 40px;
    }
        .cont-equipos .titulo span{
            font-weight: 600;
            display: block;
            font-size: 40px;
        }
    .cont-equipos .equipos, .cont-campeones .equipos{
        display: flex;
    }
    .cont-equipos .equipos .card, .cont-campeones .equipos .card{
        margin-left: 50px;
        margin-bottom: 30px;
        background-color: rgba(0,44,104,1);
    }
        .cont-equipos .equipos .card img, .cont-campeones .equipos .card img{
            height: 150px;
            object-fit: cover;
        }

        .cont-equipos .equipos .card h5, .cont-campeones .equipos .card h5{
            font-size: 17px;
            width: 100%;
            color: #fff;
            margin-top: 20px;
            margin-left: 20px;
            margin-bottom: 20px;
            text-align: left;
        }
        .cont-equipos .equipos .card h5 span, .cont-campeones .equipos .card h5 span{
            display: block;
            font-size: 20px;
            font-weight: 700;
        }
        .cont-equipos .equipos .card .social{
            display: flex;
            justify-content: end;
            margin-bottom: 15px;
            margin-right: 10px;
        }
            .cont-equipos .equipos .card .social a{
                margin-right: 10px;
            }
            .cont-equipos .equipos .card .social a i{
                font-size: 20px;
                color: #fff;
            }

/*-------------------- */



.cont-noticias{
    padding: 50px;
    padding-top: 150px;
    padding-bottom: 200px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(23,77,150,1);
}

    .cont-noticias .noticias .card{
        margin-left: 50px;
        margin-bottom: 100px;
    }
    .cont-noticias .noticias .card img{
        height: 100%;
        object-fit: cover;
    }
    .cont-noticias .noticias .card .card-body{
        padding-left: 30px;
    }
        .cont-noticias .noticias .card .card-body h5{
            border-left: 3px solid rgb(46,186,183);
            padding-left: 10px;
            margin-top: 10px;
        }
        .cont-noticias .noticias .card .card-body p{
            padding-left: 10px;
        }
        .cont-noticias .noticias .card .card-body .btn{
            margin-right: 10px;
            margin-bottom: 20px;
        }

.more-site{
    background: rgb(46,186,183);
    background: linear-gradient(45deg, rgba(46,186,183,1) 0%, rgba(0,120,118,1) 100%);    padding: 50px;
    padding-bottom: 200px;
}
    .more-site .titulo{
        padding: 50px;
        margin-left: 50px;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-weight: 600;
    }
    .more-site .titulo span{
        display: block;
        font-size: 35px;
        font-weight: 800;
    }
    .more-site .carousel{
        max-height: 250px;
        width: 100%;
        overflow: hidden;
    }

/*-------------------- */


.cont-sede{
    height: auto;
    background-color: rgb(23,77,150);
    padding: 50px;
    font-family: 'Poppins', sans-serif;
}
    .cont-sede h2{
        color: #fff;
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 0px;
        margin: 0px;
        margin-bottom: 10px;
        margin-left: 50px;

    }
    .cont-sede p{
        color: #fff;
        max-width: 90%;
        margin-left: 50px;

    }

.cont-campeones{
    height: auto;
    background: rgb(46,186,183);
    background: linear-gradient(45deg, rgba(46,186,183,1) 0%, rgba(0,120,118,1) 100%);    padding: 50px;
    font-family: 'Poppins', sans-serif;
}
    .cont-campeones h3{
        color: rgb(0,49,94);
        font-size: 30px;
        font-weight: 600;
        margin-left: 50px;
        margin-bottom: 40px;
        text-transform: uppercase;
    }
        .cont-campeones h3 span{
            display: block;
            font-size: 40px;
            font-weight: 700;
        }

    .cont-campeones .equipos .card h5{
        margin-bottom: 0px;
    }
    .cont-campeones .equipos .card .titulos{
        font-size: 50px;
        color: #fff;
        margin-bottom: 0px;
        text-align: right;
        margin-right: 30px;
        font-weight: 600;
    }

/*-------------------- */



.cont-sede span{
    display: block;
    font-weight: 800;
}
.cont-campeones .carousel{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
}
.ubicacion-estadio .cont-ubicacion{
    height: 500px;
}
.cont-sede .card{
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 50px;
    background-color: rgb(0,49,94);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.cont-sede .card .card-header{
    background-color: rgba(0,44,104);
}
.cont-sede .card h5{
    margin-left: 50px;
    margin-bottom: 20px;
}
.cont-sede .card p i{
    color: #fff;
    margin-right: 5px;
}

/*-------------------- */

.cont-admin .banner-presentacion .presentacion{
    margin-bottom: 200px;
}

.cont-form-admin form{
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(0,49,94);
    color: #000;
    width: 80%;
    font-family: 'Poppins', sans-serif;
}
.cont-form-admin .cont-form{
    padding: 50px;
    margin-bottom: 100px;
}
    .cont-form-admin form label{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .cont-form-admin form input{
        margin-bottom: 20px;
        max-width: 60%;
    }
    .cont-form-admin form .btn{
        float: right;
        background-color: rgb(46,186,183);
    }
    .cont-form-admin form .form-select{
        margin-bottom: 30px;
    }
/*-------------------- */

/*-------------------- */


.main-admin-noticias{
    display: block;
    height: auto;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.main-admin-noticias .cont-datos-noticias{
    margin-left: 70px;
    margin-top: 50px;
}
    .main-admin-noticias .cont-datos-noticias h2{
        font-size: 30px;
        text-transform: uppercase;
    }
    .main-admin-noticias .cont-datos-noticias .form-edicion-noticia{
        display: flex;
        width: auto;
        margin-bottom: 50px;
        margin-right: 50px;
        background: rgb(23,77,150);
        background: linear-gradient(-45deg, rgb(13, 53, 104) 0%, rgb(0, 24, 57) 100%);
        border-radius: 10px;
    }
    .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-izq, .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der{
        width: 70%;
        display: block;
        padding: 30px;
    }
    .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der{
        width: 30%;
        margin-right: 50px;
    }
        .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-izq input, .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-izq textarea{
            display: block;
            width: 100%;
            padding-left: 10px;
            font-family: 'Poppins', sans-serif;
        }
            .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-izq .titulo-not{
                margin-bottom: 15px;
                height: 40px;
            }
            .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-izq .categoria-not{
                margin-bottom: 40px;
                height: 30px;
            }
            .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-izq .descripcion-not{
                height: 200px;
                font-family: 'Poppins', sans-serif;
                padding-top: 10px;
                resize: none;
            }
                .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-izq .descripcion-not::placeholder{
                    float: left;
                  }
        .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der input{
            width: 100%;
        }
            .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der .fecha-not{
                height: 40px;
                margin-bottom: 15px;
            }
            .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der .selec-img-not{
                margin-bottom: 40px;
                height: 30px;
            }
            .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der .botonera-edicion-not{
                display: block;
                padding-top: 5px;
            }
                .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der .botonera-edicion-not .btnagregar, .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der .botonera-edicion-not .btnmodificar, .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der .botonera-edicion-not .btncancelar{
                    height: 50px;
                    width: 100%;
                    margin-bottom: 30px;
                    border-radius: 10px;
                    border: none;
                    font-size: 18px;
                    box-shadow: 2px 3px 7px #000;
                }
                .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der .botonera-edicion-not .btnagregar:hover, .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der .botonera-edicion-not .btnmodificar:hover, .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der .botonera-edicion-not .btncancelar:hover{
                    box-shadow: none;
                    transition: 0.5s;
                }
                    .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der .botonera-edicion-not .btnagregar{
                        background-color: rgb(97, 173, 104);
                    }
                    .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der .botonera-edicion-not .btnmodificar{
                        background-color: rgb(226, 210, 120);
                    }
                    .main-admin-noticias .cont-datos-noticias .form-edicion-noticia .form-der .botonera-edicion-not .btncancelar{
                        background-color: rgb(255, 110, 110);
                    }

.main-admin-noticias .cont-noticias-cargadas{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 80px;
}
    .main-admin-noticias .cont-noticias-cargadas .table{
        border: 1px solid #000;
    }
    .main-admin-noticias .cont-noticias-cargadas .table .table-titulos-celdas{
        background-color: rgba(23,77,150,1);
        height: 50px;
    }
    .main-admin-noticias .cont-noticias-cargadas .table td{
        padding: 20px 0px;
        text-align: center;
        border-bottom: 1px solid #000;
    }
        .main-admin-noticias .cont-noticias-cargadas .table-id{
            width: 5%;
        }
        .main-admin-noticias .cont-noticias-cargadas .table-fecha{
            width: 10%;
        }
        .main-admin-noticias .cont-noticias-cargadas .table-descripcion{
            width: 30%;
            height: 50px;
            text-align: start;
            padding-left: 10px;
        }
        .main-admin-noticias .cont-noticias-cargadas .table-botonera{
            padding-left: 10px;
            padding-right: 10px;
        }
            .main-admin-noticias .cont-noticias-cargadas .table-botonera input{
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 5px;
                padding: 5px;
                width: 80px;
                border: none;
                box-shadow: 2px 3px 7px #000;
            }
                .main-admin-noticias .cont-noticias-cargadas .table-botonera .table-btnseleccionar{
                    background-color: rgb(97, 173, 104);
                }
                .main-admin-noticias .cont-noticias-cargadas .table-botonera .table-btnborrar{
                    background-color: rgb(154, 39, 39);
                    color: #fff;
                }
                .main-admin-noticias .cont-noticias-cargadas .table-botonera input:hover{
                    box-shadow: none;
                    transition: 0.5s;
                }

/*-------------------- */

.cont-noticia-completa{
    padding: 50px;
    margin-left: 50px;
    margin-top: 50px;
}
    .cont-noticia-completa h2{
        color: #fff;
        max-width: 70%;
        font-size: 6vh;
        font-weight: 600;
        line-height: 60px;
        text-transform: uppercase;
        border-left: 2px solid rgb(46,186,183);
        padding-left: 20px;
    }
    .cont-noticia-completa .categoria{
        font-style: italic;
        margin-bottom: 1%;
        max-width: 30%;
        color: #fff;
    }
    .cont-noticia-completa img{
        max-width: 80%;
        margin-bottom: 1%;
    }
    .cont-noticia-completa .fecha{
        font-style: italic;
        color: #fff;
        margin-top: 1%;
        font-size: 1.5vh;
    }
    .cont-noticia-completa img{
        margin-top: 3%;
    }
    .cont-noticia-completa .descripcion{
        font-size: 2vh;
        max-width: 80%;
        margin-top: 1.5%;
        margin-bottom: 4%;
    }
    .cont-noticia-completa .comentarios{
        color: #fff;
        max-width: 80%;
        border-bottom: 1px solid #fff;
        padding-bottom: 1.5%;
    }
    .cont-noticia-completa .fb-comments{
        width: 80%;
        margin-top: 1%;
        background-color: #fff;
    }


 /*-------------------- */

.cont-general{
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: rgba(23,77,150,1);
}
    .cont-tablas{
        padding-top: 150px;
        padding-right: 50px;
        padding-bottom: 200px;
        background-color: rgba(23,77,150,1);
    }
    .cont-tablas h2{
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
    }
    .cont-tablas h4{
        color: #fff;
        margin-bottom: 5%;
    }
    .cont-tablas .table{
        margin-right: 150px;
        color: #fff;
        margin-bottom: 10%;
    }
    .cont-tablas .table td{
        vertical-align: middle;
    }
        .cont-tablas .table .td-escudo{
            text-align: center;
        }




.cont-tabla-edicion{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding: 50px;
}
.cont-tabla-edicion .tablaA{
    margin-right: 100px;
}
.cont-tabla-edicion .tablaA .table, .cont-tabla-edicion .tablaB .table{
    color: #fff;
}
.cont-tablas-edicion .tablaA .table td, .cont-tablas-edicion .tablaB .table td{
    vertical-align: middle;
}
    .cont-tablas-edicion .tablaA .table .td-escudo, .cont-tablas-edicion .tablaB .table .td-escudo{
        text-align: center;
    }
    table img{
        max-height: 40px;
    }

    .cont-tabla-edicion .tablaA input, .cont-tabla-edicion .tablaB input{
        margin-bottom: 5px;
        padding: 5px;
        width: 100%;
    }
    .cont-tabla-edicion .tablaA button, .cont-tabla-edicion .tablaB button{
        margin-bottom: 30px;
    }